# Issue Tracker API
NEXT_PUBLIC_API_SERVER=https://issuetrackerapi.excellencekits.com

# Application Host
NEXT_PUBLIC_APPLICATION_HOST=https://issuetracker.excellencekits.com

# OAuth2 Configuration
NEXT_PUBLIC_OAUTH2_SERVER=https://identity-stg.excellencekits.com
NEXT_PUBLIC_OAUTH2_CLIENT_ID=issue-tracker-client
NEXT_PUBLIC_OAUTH2_CLIENT_SECRET=secret

# NextAuth
NEXTAUTH_URL=http://localhost:3005
NEXTAUTH_SECRET=your-nextauth-secret

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Apple OAuth
APPLE_ID=
APPLE_SECRET=
